@inject IEthereumService _ethereumService

<div class="container">
    @if (hasLoaded)
    {
        @foreach (BlockWithTransactions block in _blockWithTransactions)
        {
            <h3>
                Block Hash: @block.BlockHash
            </h3>
        }
    }
</div>

@code {
    [Parameter]
    public Nethereum.Hex.HexTypes.HexBigInteger LatestBlockNumber { get; set; }

    private bool hasLoaded = false;
    private List<BlockWithTransactions> _blockWithTransactions = new List<BlockWithTransactions>();

    protected override async Task OnInitializedAsync()
    {
        _blockWithTransactions = await _ethereumService.GetLatest5BlocksInfo(LatestBlockNumber);
        hasLoaded = true;
    }
}
