/* /Components/LatestBlocksAndTransactions.razor.rz.scp.css */
.card[b-vj0rmq40c9] {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  word-wrap: break-word;
}

.card:hover[b-vj0rmq40c9] {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p[b-vj0rmq40c9] {
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
}

h3[b-vj0rmq40c9] {
    text-align: center;
}

a[b-vj0rmq40c9] {
    color: black;
}
/* /Pages/Account.razor.rz.scp.css */
.card[b-de88atcvc9] {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  word-wrap: break-word;
}

.card:hover[b-de88atcvc9] {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p[b-de88atcvc9] {

    margin-bottom: 5px;
}

a[b-de88atcvc9] {
    color: black;
}


td[b-de88atcvc9] {
    font-size: 11px;
}


.scrollmenu[b-de88atcvc9] {
    overflow: auto;
    white-space: nowrap;
}

td[b-de88atcvc9], tr[b-de88atcvc9], th[b-de88atcvc9] {
    text-align: center;
}
/* /Pages/Block.razor.rz.scp.css */
.card[b-gc9ji3vixk] {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  word-wrap: break-word;
}

.card:hover[b-gc9ji3vixk] {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p[b-gc9ji3vixk] {

    margin-bottom: 5px;
}

a[b-gc9ji3vixk] {
    color: black;
}


td[b-gc9ji3vixk] {
    font-size: 11px;
}


.scrollmenu[b-gc9ji3vixk] {
    overflow: auto;
    white-space: nowrap;
}

td[b-gc9ji3vixk], tr[b-gc9ji3vixk], th[b-gc9ji3vixk] {
    text-align: center;
}
/* /Pages/TransactionInfo.razor.rz.scp.css */
a[b-engtaw5vo7] {
    color: black;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-geukbanf9b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-geukbanf9b] {
    flex: 1;
}

.sidebar[b-geukbanf9b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-geukbanf9b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-geukbanf9b]  a, .top-row .btn-link[b-geukbanf9b] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-geukbanf9b] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-geukbanf9b] {
        display: none;
    }

    .top-row.auth[b-geukbanf9b] {
        justify-content: space-between;
    }

    .top-row a[b-geukbanf9b], .top-row .btn-link[b-geukbanf9b] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-geukbanf9b] {
        flex-direction: row;
    }

    .sidebar[b-geukbanf9b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-geukbanf9b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-geukbanf9b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
