@page "/"

<div class="container">
    <div class="row">
        <h2>Ethereum Blockchain Explorer</h2>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Block number:</label>
        </div>
        <div class="col-4">
            <input @bind-value="@_blockNumber" @bind-value:event="oninput"/>
        </div>
    </div>
    <div class="row">
        <BlockInfo BlockNumber="@_blockNumber"/>
    </div>
</div>

@code {
    private int _blockNumber;
}
